
.body-p {
    background-color: #9C9C9C;
    color: #fff;
    font-size: 25px;
}

.div-overflow {
    width:100%;
    overflow: auto;
}

h3 {
    color: dimgray;
    font-size: 30px;
}

.floatright {
    float: right;
}
